.holder{
	display:flex;
	flex-wrap:wrap;
	justify-content: space-between;
}
#box{
	width:200px;
	height:200px;
	
}
.item1{
	background-color:green;
	
}
.item2{
	background-color:red;
}
.item3{
	background-color:blue;
}